
*{
    margin: 0;
    padding: 0;
font-family: 'Raleway', sans-serif;
}
:root{
    --main-grid: 1fr 5fr;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
}
.main{
    height: 100vh;
    width: 100vw;
    border:1px solid darkblue;
    background-color: aqua;
    display: grid;
    grid-template-columns: var(--main-grid);
    grid-template-rows: var(--main-grid);
}

.sidebar{
    position: relative;
    grid-area: 1/1/-1/2;
    background-color: peachpuff;   
    box-shadow: 5px -2px 20px #0ea5e9;
}



.header{
    position: relative;
    grid-area: 1/2/2/2;
    background-color: rgba(230,230,249);
    padding:1em 1.3rem;
    display: grid;
    grid-template-rows: 2fr 3fr;
    box-shadow: 5px -2px 20px   #0ea5e9 ;
    
}
.header>*{
  
}

.search{
    display: grid;
    grid-template-columns: .5fr 16fr .5fr 1fr 3fr;
    align-items: center;
    gap:15px;
}


input[type=search]{
    font-size: 1.2rem;
    width: 90%;
    padding:4px 8px;
    border-radius:20px;
    background-color: rgba(249, 246, 246);
}

.user-name>p{
    font-size:1.3rem;
    text-align: center;
    font-weight: 700;
}

.user-info{
    display: grid;
    grid-template-columns: 1fr 7fr 4fr;
    gap:15px;
    align-items: center;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    gap:10px;
}
.buttons>button{
    box-sizing: border-box;
    width:6em;
    padding: 12px 20px;
    border-radius: 20px;
    background-color: #2563eb;
    font-size:1.2em;
    color:white;
    font-weight: bold;
    letter-spacing: 1px;
}
.user-avatar{
    justify-self: end;
}
.user-avatar.icon>img{
    width:80px;
    height: 80px;
}
.greeting:first-child{
    font-size:1.1rem;
    font-weight: 600;
}
.greeting>p+p{
    font-size:1.3rem;
    font-weight: 800;
}
.icon>img{
    width: clamp(20px, 100%, 40px);
    height: clamp(20px, 100%, 40px);
}


.content{
    padding:20px;
    display: grid;
    grid-area: 2/2/-1/-1;
    background-color:#f5d0fe;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:20px;
}
.projects{
    grid-area: 1/1/3/2;
    background-color: #8b5cf6;
    padding: 20px;
    display: grid;
    grid-template-rows: auto 1fr;
    gap:10px;
}
.cards{
    display: grid;
    gap:30px;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    grid-template-rows:1fr;
    grid-auto-rows:1fr;
    
}
.card{
    border:1px solid peachpuff;
    background-color: #eff6ff;
    padding:20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px 20px 5px 20px;
    
}

.card>p:first-of-type{
    font-size: 1.4rem;
    font-weight: 800;

}
.announcements{
    background-color:#c4b5fd ;
}

.trending{
    background-color:#e879f9;
}
.interact>img{
    height: 20px;
    width: 20px;
}
.interact{
    padding-top: 10px;
    display: flex;
    gap:4px;
    justify-content: flex-end;
}

.projects>p{
    font-size:1.3rem;
    font-weight: bolder;
}


.announcements{
    display: grid;
    grid-template-rows:auto 1fr;
    
}
.announcements p:first-of-type{
    font-size: 1.3rem;
    font-weight: 900;
}
.announcement-card{
    padding:30px;
    background-color: white;
    display: flex;
    gap:25px;
    align-items: center;
    flex-direction: column;
}

.ann-content{
    flex: 1;
    padding:20px;
    text-align: center;
    border-bottom: 1px solid black;
}
.ann-content p:first-of-type{
    font-size: large;
    font-weight: 900;
}

.trending{
    display: grid;
    grid-template-rows: auto 1fr;
    gap:10px;
}
.trending p:first-of-type {
    font-size: 1.3rem;
    font-weight: 900;
}

.trending-card {
    padding: 30px;
    background-color: white;
    display: flex;
    gap: 25px;
   
    flex-direction: column;
}

.trend-content{
    flex:1;
    display: flex;
    justify-content: center;
    gap:20px;
    align-items: center;
}
.trend-content>img{
    height: 40px;
    width: 40px;
}










.dashboard,.nav-items,.settings-items{
    display: grid;
    grid-template-columns: 1fr 4fr;
    
    
}
.sidebar *{
    border: 1px solid black;
}
.nav ul,.settings ul{
    height: 100%;
}
.dashboard{
    background-color: rgb(203,140,175);
    
}
.nav{
    background-color: rgb(123, 136, 182);
}
.settings{
    background-color: rgb(62, 139, 114);
}
.icon{
    
}

