*{
    margin: 0;
    padding: 0;
}
:root{
    --main-grid: 1fr 4.5fr;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
}
.main{
    height: 100vh;
    width: 100vw;
    border:1px solid darkblue;
    background-color: aqua;
    display: grid;
    grid-template-columns: var(--main-grid);
    grid-template-rows: var(--main-grid);
}

.sidebar{
    grid-area: 1/1/-1/2;
    background-color: peachpuff;   
}

.header{
    grid-area: 1/2/2/2;
    background-color:teal;
}
.content{
    grid-area: 2/2/-1/-1;
    background-color:thistle;
}

